.images
{
    width: 100%;;
    height: 600px;;
}
h1{
    background-color:brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2
{
    font-family: 'Times New Roman', Times, serif;
    background-color: blueviolet;
}
.div_main:after {
    content: "";
    display: table;
    clear: both;
    }
    .div_left, .div_text, .div_right  {
        float: left;
        width: 33.33%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
    }
    * {
        box-sizing: border-box;
        }

   